{% extends 'base.html' %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block body %}
    {% include 'reusable/navbar.html' with some_text='Hello' %}
    {% if request.user %}
        Do you wanna <a href="{% url 'logout' %}">logout</a> ?
    {% endif %}
    <div class="jumbotron">
        {% for sch_list in schedule_list %}
            <h2> {{ sch_list.name }}</h2>
            {% for task_name in sch_list.task.all %}
                <p class="lead">{{ task_name }}</p>
            {% endfor %}
            {% for worker in sch_list.workers.all %}
                <h4>{{ worker }}</h4>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}

